body {
    margin: 20px;
    font-family: sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #0a0520;
    color: #bab4d4;

    border-bottom: 6px solid #913bd6;
}

.border-blue {
    border: 1px dotted blue;
}